/* Css para editar as classes e ids do site */

/* Definições gerais do site */
*{
    margin:0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    box-sizing: border-box;
}

h1{
    color: rgb(195, 208, 228);
    text-align: center;
}

p{
    color: rgb(195, 208, 228);
    font-size: large;
    font-weight: bolder;
}

/* Classe Principal do site */
.Header{
    height: 210vh;
    width: 100%;
    padding:0 8%;
    background-color: rgb(239, 241, 216);
    background-image: url(fundo1.jpg);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Id para o logo */
#logo{
    width: 100px;
    padding: 10px;
    height: 100px;
}

/* h2{
    display: flex;
    align-items: center;
    color: blueviolet;
    margin-left: 20px;
} */

.nav-links{
    padding: 15px 0;
    margin-left: auto;
    height: fit-content;
}

.nav-links li {
    display: inline-block;
    margin:  0 20px;   
}

.nav-links li .fa {
    color: rgb(195, 208, 228);
    font-size: 35px;
    line-height: 60px;
    transition: .5s;
    bottom: auto;
}

.nav-links li .fa:hover{
    color:rgb(207, 10, 10);
}
