/* Css para editar as classes e ids do site */

/* Definições gerais do site */
*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Classe Principal do site */
.Header{
    height: 210vh;
    width: 100%;
    padding:0 8%;
    background-color:rgb(233, 255, 249);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Id para o logo */
#logo{
    width: 95px;
    padding: 10px;
}

.nav-links{
    padding: 15px 0;
    margin-left: auto;
    height: fit-content;
}

.nav-links li {
    display: inline-block;
    margin:  0 20px;   
}

.nav-links li .fa {
    color: rgb(4, 109, 247);
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
    bottom: auto;
}

.nav-links li .fa {
    color: rgb(240, 126, 156);
    font-size:35px;
}

.nav-links li .fa :hover{
    background-color:rgb(17, 10, 10);
}
